# Ignorar dados do Banco
projeto-cinema/.env

# Ignorar ambientes virtuais
venv/

# Ignorar arquivos de cache
__pycache__/

#Igorar arquivo de testes
projeto-estadio/teste-crud.js

# Ignorar meu arquivo de orientação
/projeto-estadio/info.md

# Ignorar arquivo .html
projeto-estadio/index.html